/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
html {
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}
.container {
  width: 1199px;
  margin: 0 auto;
}
.btn-gradient {
  text-transform: uppercase;
  padding: 1.25rem 2.19rem;
  font-size: 0.94rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  outline: 0;
  border-radius: 1.875rem;
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
  transition: all 0.5s;
}
button:hover {
  background-position: right center;
}
.section_inner {
  padding-top: 180px;
}
.title p {
  font-weight: 600;
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
  color: #f55f8d;
  text-transform: capitalize;
}
.title h2 {
  font-weight: 800;
  font-size: 4.375rem;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 1.25rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content ul {
  text-transform: capitalize;
  margin-right: 1.875rem;
}
.header__content ul a {
  text-decoration: none;
  font-size: 0.94rem;
  font-weight: 500;
  color: #070120;
  transition: all 0.5s;
}
.header__content ul li:hover a {
  color: #f55f8d;
}
.header__content ul li {
  display: inline-block;
  padding: 3.44rem 0.94rem;
}
.header__content nav {
  display: flex;
  align-items: center;
}
.header__content i {
  font-size: 0.56rem;
  vertical-align: middle;
  margin-bottom: 3px;
}

.header__content ul li:hover a span {
  display: inline-block;
  animation: upToDown 0.3s;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* CAROUSEL */
.carousel {
  background-image: url(../img/pic2.png);
  background-position: top;
  overflow: hidden;
  background-size: 100%;
}
.carousel__artical ul {
  margin-bottom: 1.25rem;
}
.carousel__artical p {
  font-size: 1.125rem;
  margin-bottom: 0.94rem;
}
.carousel__artical li {
  padding: 10px 5px 10px 0;
  font-size: 1.25rem;
}
.carousel__artical i {
  width: 2.1875rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 2.1875rem;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  font-weight: 900;
  margin-right: 0.625rem;
}
.carousel__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel__left {
  width: 60%;
}
.carousel__right {
  width: 40%;
}
.carousel__banner {
  margin-left: 3.125rem;
  width: 35.635rem;
}
.carousel__banner img {
  width: 100%;
  display: block;
}
/* SERVICES */
.services {
  text-align: center;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
}
.services__item {
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 1.875rem 2.8125rem;
  transition: all 0.5s;
}
.services__item:hover {
  transform: translateY(-20px);
}
.services__item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.94rem 0;
  color: #262626;
}
.services__item img {
  width: 75%;
}
.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 2.5rem;
}

/* ABOUT US */
.about {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}
.about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.about__left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.about__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.about__right {
  width: 50%;
}
.about__artical p {
  margin-bottom: 0.94rem;
}
.about__artical i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
  color: #f55f8d;
  vertical-align: middle;
}
.about__artical ul {
  margin-bottom: 1.875rem;
}

/* NUMBER */
.number {
  text-align: center;
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
}
.number__item i {
  font-size: 2.8125rem;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: #fff;
  background-size: 200%;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 0.94rem;
}
.number__content {
  display: flex;
  justify-content: space-around;
}
.number__item p:first-of-type {
  font-size: 4.0625rem;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number__item p:last-of-type {
  font-size: 1.125rem;
  color: #262626;
}
/* FEATURES */
.features {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}
.features__content {
  display: flex;
}
.features__left {
  width: 50%;
}
.features__right {
  width: 50%;
}
.features__item {
  padding: 0 50px 30px 0;
}
.features__item2 {
  padding: 0 0 30px 50px;
}
.features__item div {
  padding-left: 1.56rem;
  z-index: 1;
  transition: all 1s;
}
.features__bg {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.features__bg::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
}
.features__bg:hover::after {
  opacity: 1;
}
.features__item i {
  font-size: 5rem;
  color: #f55f8d;
  line-height: 1;
  z-index: 1;
  transition: all 1s;
}

.features__item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}
.features__item:hover i,
.features__item:hover h3,
.features__item:hover div {
  color: #fff;
}
.features__banner {
  margin-right: -80px;
}
.features__banner img {
  width: 100%;
  animation: move2 5s infinite;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

/* PORTFOLIO */
.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.portfolio__content {
  text-align: center;
  overflow: hidden;
}

.portfolio__work {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 2.1875rem;
}
.portfolio__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.portfolio__work img {
  width: 100%;
  height: 100%;
}
.portfolio__item1 {
  grid-column: 1 / span 2;
}
.portfolio__item5 {
  grid-column: 1 / span 2;
}
.portfolio__item6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.portfolio__overlay:hover {
  opacity: 1;
}
.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.75rem;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  color: #fff;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio__item:hover .portfolio__icon {
  transform: translate(0);
}
.portfolio__text {
  position: absolute;
  bottom: 1.875rem;
  left: 1.875rem;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}
.portfolio__text h3 {
  color: #fff;
  font-size: 1.375rem;
  font-weight: 800;
}
.portfolio__text p {
  opacity: 0.7;
  color: #fff;
}
.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__item:hover::before {
  left: 125%;
}

/* PLAN */
.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
}
.plan__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.plan__content {
  text-align: center;
}

.plan__item {
  padding: 20px 35px;
  background-color: white;
  border: 3px solid transparent;
  border-radius: 8px;
  box-shadow: 1px 0 50px 0 rgba(0, 0, 0, 0.1);
  border-image: round;
  transition: all 0.5s;
}
.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}
.plan__item p {
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.plan__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 700;
}
.plan__item li {
  margin-bottom: 15px;

  font-size: 18px;
  color: black;
}
.plan__item ul {
  margin: 0 auto;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  text-align: left;
  width: 70%;
}
.plan__item li i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #f55f8d;
  border-radius: 50%;
  background-color: #feeff3;
  font-size: 15px;
  text-align: center;
  margin-right: 10px;
}

.plan__box img {
  width: 50%;
}
.plan__box button {
  margin-bottom: 20px;
}
/* TESTIMONIAL */
.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial__content {
  max-width: 1199px;
  margin: auto;

  padding: 100px 0;
}

.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}
.testimonial__comment {
  min-height: 300px;
  width: 100%;
}
.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: black;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.swiper-pagination-bullet-active {
  background-color: #f55f8d;
}
.testimonial__pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  background-color: #f55f8d;
  transition: all 1s;
  opacity: 0;
}
.swiper-slide-thumb-active .testimonial__pic .shape-bx {
  opacity: 1;
}
.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial__pic::after,
.testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}
.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
/* BLOG */
.blog {
  text-align: center;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  padding-bottom: 50px;
}
.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
.blog__header {
  position: relative;
}
.blog__header img {
  border-radius: 8px;
}
.blog__header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog__footer p:first-of-type {
  margin-right: 20px;
}
.blog__footer p:first-of-type span {
  color: #f55f8d;
}
/* FOOTER */
footer {
  background-image: url(../img/bg4.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer__form,
.footer__text {
  width: 50%;
}
.footer__text h2 {
  font-size: 28px;
  color: #262626;
}
.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer__form input:focus,
.footer__form input:hover {
  border-color: #f55f8d;
}
.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.footer__form button:hover {
  background-position: right center;
}
.footer__form button:hover i {
  animation: ToLeftFromRight 0.5s forwards;
  display: inline-block;
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer__item {
  width: 25%;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer__item a:hover {
  color: #fff;
}
.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.footer__item li {
  padding: 0.5rem 0;
}
.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer__item h3::before {
  width: 15px;
}

.footer__item h3::after,
.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__item h3::after {
  width: 45px;
  left: 20px;
}
.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
  color: #fff;
}
.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}
.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__left span {
  color: #f55f8d;
}
.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer__copyright a:hover {
  background: #f55f8d;
}

@keyframes ToLeftFromRight {
  49% {
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  51% {
    opacity: 1;
  }
}
